.row
  .span6
    %h1.padding_bottom1 Activity Groups

    - if !@activity_groups.empty? or !@activities_base.empty?
      %ul.span6
        %li.span1
          %i.icon-globe
        %li.span2 Name
          
      = render @activity_groups
      = render @activities_base
    - else
      %h2.extra_padding You have no Activity Groups yet. Add one and start managing your time. 
    
    =link_to "Create Activity Group", new_activity_group_path, {class: 'btn', remote: true, id: 'create_activity_group'}
    =link_to "Create Activity", new_activity_path, {class: 'btn', remote: true, id: 'create_activity'}

  = render partial: 'tasks'

  .span12
    #new_activity_group.modal.hide.fade= render partial: 'activity_groups/new'
    #new_activity.modal.hide.fade= render partial: 'activities/new'
