.row
	.span9
		= content_tag :div, "", id: "activity_graph", data: {name: graph.name, minutes: graph.minutes, year: graph.year, month: graph.month, day: graph.day, data_hash: graph.data_hash}
		.graph_date_selector
			%p= link_to "Last 7 days", activity_path(@activity, days: 7), {class: 'pull-left btn'}
			%p= link_to "Last 14 days", activity_path(@activity, days: 14), {class: 'pull-left btn'}
			%p= link_to "Last 30 days", activity_path(@activity, days: 30), {class: 'pull-left btn'}
			%span.pull-right
				= form_tag activity_path(@activity), method: :get do
					= text_field_tag :start_time, nil , {placeholder: 'Start Date', class: 'pull-left input-small'}
					= text_field_tag :end_time, nil , {placeholder: 'End Date', class: 'pull-left input-small'}
					%span.btn= submit_tag 'Show custom dates', class: 'btn'
	.span3
		- if @activity.clocked_out?

			%h2=@activity.title
			%p=@activity.description
			%p="Last time tracker ended on #{@activity.time_trackers.last.clock_in.to_date.strftime("%D")} at #{@activity.time_trackers.last.clock_out.strftime("%H:%M")}"
			%p=link_to "Clock in", activity_time_trackers_path(@activity), {class: 'btn btn-large btn-primary', method: :post}

		- elsif @activity.clocked_in?

			%h2=@activity.title
			%p=@activity.description
			%p="Last time tracker started on #{@activity.time_trackers.last.clock_in.to_date.strftime("%D")} at #{@activity.time_trackers.last.clock_in.strftime("%H:%M")}"
			%p=link_to "Clock out", activity_time_tracker_path(@activity), {class: 'btn btn-large btn-primary', method: :put}

		- else

			%h2=@activity.title
			%p=@activity.description
			%p There are no time trackers at the current time. Planning on working on this activity? Start tracking by Clocking in!
			%p=link_to "Clock in", activity_time_trackers_path(@activity), {class: 'btn btn-large btn-primary', method: :post}
		
		%p= render partial: 'clock'
		%br
			%h3 Total time
			%h4= graph.total_time